html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.swal-text {
  font-weight: bold;
  font-size: 18px;
  color: rgb(58, 50, 50);
}

.swal-button--confirm {
  background-color: rgb(17, 113, 190);
}

.swal-button--confirm:hover {
  background-color: rgb(4, 33, 56) !important;
}
